/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: Helvetica;
  }

body {
background-color:#1abc9c;
}

/** HEADER **/

#header-nav {
background-color: #1e83709c;
border: 0;
}

.navbar-light .navbar-brand {
    font-size: 1.8em;
    color: #92CC09;
}

#logo-img{
    padding: 0;
}

#nav-list a:hover {
    background: #E7E7E7;
  }
#nav-list a {
    font-size: 1.2em;
}


/* HOMEPAGE */

#main-content{
    padding: 0;
}

#home-jbt {
    padding: 0;
    margin-top: 30px;
  }

.jumbotron .container-fluid{
    padding: 0;
}

/* HOME TILES*/



#veg-tile:hover, #seed-tile:hover, #supplies-tile:hover{
    opacity: 0.9;
}

#veg-tile, #seed-tile, #supplies-tile{
    height: 250px;
    width: 100%;
    position: relative; 
    overflow: hidden;
    margin-bottom: 10px;
}

#veg-tile{
    background: url(../images/veg_tile.jpg) no-repeat;
    background-position: center;
    background-size:cover;
}

#seed-tile{
    background: url(../images/seed_tile.jpg) no-repeat;
    background-position: center;
    background-size:cover;
}

#supplies-tile{
    background: url(../images/supplies_tile.jpeg) no-repeat;
    background-position: center;
    
}


#veg-tile span, #seed-tile span, #supplies-tile span{
position: absolute;
bottom: 0;
right: 0;
width: 100%;
text-align: center;
font-size: 1.6em;
background-color: black;
opacity: 0.8;
color: #ffffff;
}

.panel-footer{
    background-color: rgb(96, 96, 96);
}

/********** Large devices only **********/
@media (min-width: 1200px) {
 
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 992px) {

}

/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 768px) {
   

}

/********** Extra small devices only **********/
@media (max-width: 576 px) {
    
    #veg-tile{
        height: 400px;
    }
    #home-tiles{
        margin-left: 0px;
        margin-right: 0px;
    }
}
