/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: Helvetica;
  }

body {
background-color:#1abc9c;
}

/** HEADER **/

#header-nav {
background-color: #1e83709c;
border: 0;
}

.navbar-light .navbar-brand {
    font-size: 1.8em;
    color: #92CC09;
}

#logo-img{
    padding: 0;
}

#nav-list a:hover {
    background: #E7E7E7;
  }
#nav-list a {
    font-size: 1.2em;
}


/* HOMEPAGE */

#main-content{
    padding: 0;
}

#home-jbt {
    padding: 0;
    margin-top: 30px;
    
  }

.jumbotron .container{
    padding: 0;
    height: 300px;
    object-fit: cover;   
}

/* HOME TILES*/



#veg-tile:hover, #seed-tile:hover, #supplies-tile:hover{
    opacity: 0.9;
}

#veg-tile, #seed-tile, #supplies-tile{
    height: 250px;
    width: 100%;
    position: relative; 
    overflow: hidden;
    margin-bottom: 10px;
}

#veg-tile{
    background: url(../images/veg_tile.jpg) no-repeat;
    background-position: center;
    background-size:cover;
}

#seed-tile{
    background: url(../images/seed_tile.jpg) no-repeat;
    background-position: center;
    background-size:cover;
}

#supplies-tile{
    background: url(../images/supplies_tile.jpeg) no-repeat;
    background-position: center;
    
}


#veg-tile span, #seed-tile span, #supplies-tile span{
position: absolute;
bottom: 0;
right: 0;
width: 100%;
text-align: center;
font-size: 1.6em;
background-color: black;
opacity: 0.8;
color: #ffffff;
}


/* FOOTER*/

.panel-footer{
    background-color:rgb(34, 34, 34);
    color: white;
    margin-top: 30px;
    padding-top: 30px;
    width: 100%;
   
}

.panel-footer .row{
    margin-bottom: 20px;
}

#hours , #address {
    line-height: 2;
}

#hours > span, #address > span {
    font-size: 1.25em;
}

#footer-links > ul{
    list-style: none;
    padding-left: 0;
}

#footer-links a {
    line-height: 2;
    color: white;
}

#footer-links a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.panel-footer ul{
    margin-bottom: 0;
}



.panel-footer hr{
    border-color: white;
}

#copyright-box {
    padding-bottom: 10px;
  }

/********** Extra Large devices only **********/
@media (min-width: 1200px) {

}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {
    
}

/********** Extra small devices only **********/
@media (max-width: 575px) {

    #home-tiles{
        margin-left: 0px;
        margin-right: 0px;
    }

    #home-jbt{
        margin-left: 0px;
        margin-right: 0px;
        
    }
    
}

